*{
    margin: 0;
    padding: 0;
    font-family:"poppins",sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;

}

.To-do-app{
    width: 50%;
    min-height: 200px;
    background: white;
    border-radius: 10px;
    padding: 40px 30px 70px;
    margin: 100px auto 20px ;
}

.To-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom:20px ;
}

.To-do-app  h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius:30px ;
    padding-left: 20px ;
    margin-bottom: 25px;
}

input{
    flex :1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #e2dbe3;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

ul li{
    position: relative;
    list-style: none;
    font-size: 17px ;
    padding: 12px 8px 12px 50px ;
    user-select: none;
    cursor: pointer;

}

ul li::before{
    content: "";
       position: absolute;
    background-image: url('./images/unchecked.png');
    height: 28px;
    width: 28px;
    background-size: cover;
    border-radius: 50%;
    background-position: center ;
    top: 12px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before{
     background-image: url('./images/checked.png');

}

ul li span{
    position: absolute;
    right: 0;
     top: 5px;
    height: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
    border: 2 solid black;
    border-radius: 50%;

}

ul li span:hover{
    background: #edeef0;
}

ul li span.edit {
    right: 40px;
    font-size: 18px;
}

ul li span.delete {
    right: 5px;
    font-size: 22px;
}


@media (max-width: 480px) {
    .To-do-app {
        padding: 20px 15px 50px;
    }

    button {
        font-size: 14px;
        padding: 12px;
    }

    input {
        font-size: 13px;
    }
}